.log {
  /* -- default -- */
  font: 16px/24px Consolas, Monospace;
  padding: 16px;
  margin-block: 0 8px;
  /* -- define -- */
  border-top: 16px solid gray;
  background: rgb(0,0,0);
  color: rgb(250,250,250);
  cursor: default;
  user-select: none;
}