@charset "UTF-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  background-color: white;
}

body {
  font: 16px/1.8 monospace;
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
  padding: 5%;
}

a {
  text-decoration: none;
  font-weight: 700;
}

.todoList {
  border-top: solid 8px gray;
  height: 100%;

}

.todoList>* {
  padding: 10px 20px;
}

.todoList h1 {
  margin: 0;
  background: #fff;
  background-color: silver;
  line-height: 1;
}

.todoList .items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  counter-reset: done-items pending-items;
}

.todoList h2 {
  margin: 0;
  padding: 10px 0;
  font-size: 16px;
  line-height: 1;
  position: relative;
}

.todoList h2::before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 0;
  width: 1px;
  height: 70%;
  border-left: 4px solid gray;
}

.todoList h2::after {
  border-radius: 6px;
  display: block;
  float: right;
  border: 2px solid silver;
  padding: 4px;
  min-width: 1.5em;
  text-align: center;
}

.todoList .done {
  order: 1;
}

.todoList .done::after {
  content: counter(done-items);
}

.todoList .pending {
  order: 3;
}

.todoList .pending::after {
  content: counter(pending-items);
}

.todoList input {
  position: absolute;
  left: -999px;
}

.todoList input:focus+label {
  background: rgba(255, 255, 255, 0.4);
}

.todoList input:checked+label {
  order: 2;
  animation: done 0.3s;
  counter-increment: done-items;
}

.todoList input:checked+label::before {
  content: "√";
  font-weight: bold;
}

.todoList label {
  order: 4;
  animation: pending 0.3s;
  display: block;
  position: relative;
  padding: 10px 0 10px 40px;
  border-top: 2px solid silver;
  cursor: pointer;
  counter-increment: pending-items;
}

.todoList label:hover {
  background: rgba(255, 255, 255, 0.4);
  background-color: silver;
}

.todoList label::before {
  content: "×";
  font-weight: bold;
  display: block;
  position: absolute;
  left: 10px;
  top: 8px;
}

.todoList h3.next {
  padding: 0;
  position: relative;
  order: 4;
  display: none;
}

.todoList h3.next:hover {
  background-color: silver;
}

.todoList h3.next a {
  color: currentColor;
  text-decoration: none;
  display: block;
  padding: .5rem 1rem;
}

.todoList input:last-of-type:checked~h3.next {
  display: block;
}

@-moz-keyframes done {
  0% {
    -moz-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}

@-webkit-keyframes done {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}

@keyframes done {
  0% {
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}

@-moz-keyframes pending {
  0% {
    -moz-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}

@-webkit-keyframes pending {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}

@keyframes pending {
  0% {
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
  }

  50% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.4);
  }
}