b { font-weight: bold; }
i { font-style: italic; }
u {
  text-decoration: currentColor solid underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.4ex;
}
s {
  text-decoration: red solid line-through;
  text-decoration-thickness: 2px;
}