body {
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}

#tabs {
  margin: 10px;
}

.tab-content {
  display: none;
  width: 100%;
  height: 380px;
  border: 1px solid #999;
  background: white;
  position: relative;
}

.tab-content.active {
  display: block;
}

textarea {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;
  height: 360px;
  border: 0;
  resize: none;
  overflow: auto;
}

textarea:focus {
  outline: 0;
}

#preview-frame {
  width: 100%;
  height: 98%;
  border: none;
  background-color: white;

}

.tab-buttons {
  margin: 10px 10px 0 10px;
  height: 17px;
}

.tab-button {
  padding: 6px 12px;
  background-color: #ddd;
  border: 1px solid #999;
  border-bottom: none;
  cursor: pointer;
  margin-right: 3px;
  float: left;
  position: relative;
  top: 0;

}

.tab-button.active {
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid white;
  z-index: 5;
}

.clear {
  clear: both;
}